html,
body {
    height: 100%;
}

body {
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(27/16);
    color: var(--default);
    overflow-x: hidden;
    min-width: 320px;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    // padding: 0 15px;
    outline: 1px solid red;
}