@import "../scss/reset";
@import "../scss/fonts";
@import "../scss/global";
@import "../scss/vars";

@import "../scss/components/header";
@import "../scss/components/menu";
@import "../scss/components/logo";

@import "../scss/components/footer";

@import "../scss/components/rightside-menu";

@import "../scss/components/top";