.top {


    &__slider-title {
        margin-bottom: 53px;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 110px;
        line-height: calc(134/110);
        color: var(--title);
    }

    &__slider-text {

    }
}